/* styles/global.css */
.notification__Container-sc-v9nuxx-6,
cDwvNG {
  margin: 0px !important;
  border-radius: 10px 10px 0px 0px !important;
}

.notification__ContentSection-sc-v9nuxx-0,
fBEiRK {
  height: 200px !important;
  padding: 15px 16px !important;
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.progress-bar {
  height: 5px;
  background-color: #4caf50;
  width: 100%;
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-out-right {
  animation: slideOutRight 0.5s forwards;
}
